:root {
    --search-component-max-width: 600px;
    --content-width: min(var(--search-component-max-width), 95vw);

    --color-bg-body: #181825;
    --color-bg-input: #1E1E2E;
    --color-bg-section: #1E1E2E;
    --color-bg-toggle: #313244;
    --color-bg-toggle-hover: #45475A;

    --color-text-primary: #CDD6F4;
    --color-text-white: #CDD6F4;
    --color-text-secondary: #BAC2DE;
    --color-text-tertiary: #A6ADC8;

    --color-accent-green: #A6E3A1;
    --color-accent-blue: #89B4FA;

    --color-button-primary: #363653;

    --color-border-default: #2c4fc6;
    --color-border-dark: #2c4fc6;
}

a {
    color: var(--color-accent-blue);
    text-decoration: none;
    padding: 0 0.1rem;
    font-size: 1.1rem;
}

p {
    color: var(--color-text-secondary);
}

*:focus {
    outline: none;
    box-shadow:
        0 0 0 2px var(--color-bg-body),
        0 0 0 4px rgba(137, 180, 250, 0.5),
        0 0 15px rgba(137, 180, 250, 0.5);
    transition:
        box-shadow 0.2s ease-in-out,
        background-color 0.1s ease;
}

body {
    font: 16px/1.5 'Segoe UI', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: var(--color-bg-body);
    padding-top: 33vh;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: var(--content-width);
    max-width: 1000px;
    justify-content: space-between;
    height: 67vh;
}

#searchContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: var(--content-width);
    max-width: 1000px;
}

#searchForm {
    display: flex;
    gap: 10px;
    width: 100%;
    max-width: var(--content-width);
}

#searchInput {
    padding: 10px;
    border: 1px solid var(--color-border-default);
    background-color: var(--color-bg-input);
    color: var(--color-text-primary);
    font-size: 1em;
    flex-grow: 1;
}

button[type="submit"] {
    padding: 10px 15px;
    background-color: var(--color-button-primary);
    color: var(--color-text-white);
    border: none;
    cursor: pointer;
}

#previewContainer {
    width: 100%;
    box-sizing: border-box;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.15s ease-in-out;
}

#previewContainer.visible {
    visibility: visible;
    opacity: 1;
}

#preview {
    margin-bottom: 30px;
    padding: 15px;
    background-color: var(--color-bg-section);
    border: 1px solid var(--color-border-dark);
    border-radius: 8px;
    color: var(--color-text-primary);
    text-align: left;
    width: 100%;
    max-width: var(--content-width);
    box-sizing: border-box;
    display: none;
    position: relative;
}

#preview.display {
    display: block;
}

#preview p {
    margin: 5px 0;
}

#preview strong {
    color: var(--color-accent-green);
}

#preview .description {
    font-size: 0.9em;
    color: var(--color-text-secondary);
}

#preview .url-preview {
    font-size: 0.8em;
    color: var(--color-text-tertiary);
    word-break: break-all;
}

#preview .url-preview span {
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--color-bg-input);
    padding: 2px 5px;
    border-radius: 3px;
    color: var(--color-accent-blue);
}

.accordion-toggle {
    padding: 10px 15px;
    background-color: var(--color-bg-toggle);
    color: var(--color-text-white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    max-width: var(--content-width);
    text-align: center;
}

.accordion-toggle:hover {
    background-color: var(--color-bg-toggle-hover);
}

.accordion-content {
    display: grid;
    grid-template-columns: minmax(auto, 5rem) 1fr;
    gap: 0;
    width: 100%;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    padding: 0;
    margin-top: 15px;
    transition: max-height 0.2s ease-out, opacity 0.2s ease-out, padding 0.2s ease-out;
    box-sizing: border-box;
    pointer-events: none;
    border: 1px solid var(--color-border-dark);
    border-radius: 8px;
    background-color: var(--color-bg-section);
}

.accordion-content.expanded {
    max-height: 1000px;
    opacity: 1;
    padding: 0;
    pointer-events: all;
}

.provider-item {
    display: contents;
}

.provider-item .bang-key {
    background-color: var(--color-bg-input);
    padding: 10px 15px;
    color: var(--color-accent-blue);
    font-family: 'Courier New', Courier, monospace;
    border-right: 1px solid var(--color-border-dark);
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.provider-item p {
    padding: 10px 15px;
    margin: 0;
    font-size: 0.9em;
    color: var(--color-text-primary);
    display: flex;
    align-items: center;
}

.provider-item:not(:last-of-type) .bang-key,
.provider-item:not(:last-of-type) p {
    border-bottom: 1px solid var(--color-border-dark);
}

.accordion-content .provider-item:first-of-type .bang-key,
.accordion-content .provider-item:first-of-type p {
    margin-top: 0;
}

#providersGridContainer {
    margin-bottom: 16px;
}

#footer {
    color: var(--color-text-white);
    width: var(--content-width);
}

#footer #referral {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    padding-bottom: 4rem;
}

@media (max-width: 480px) {
    #footer #referral {
        flex-direction: column;
        gap: 8px;
        align-items: center;
    }

    .separator {
        display: none;
    }
}